@media (min-width: 576px) {
  .container,
  .container-sm {
    max-width: 98%;
    padding: 0;
  }
}

@media (min-width: 768px) {
  .container,
  .container-sm,
  .container-md {
    max-width: 90%;
    padding: 0;
  }
}

@media (min-width: 992px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg {
    max-width: 90%;
    padding: 0;
  }
}

@media (min-width: 1200px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 1140px;
    padding: 0;
  }
}
@media (min-width: 1440px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 1320px;
  }
}
@media (min-width: 1600px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 1400px;
  }
}

@media (min-width: 1800px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 1700px;
  }
}
a {
  text-decoration: none !important;
}
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
html {
  font-size: 14px;
}
@media screen and (max-width: 992px) {
  body,
  html {
    font-size: 12px;
  }
}
@media screen and (max-width: 768px) {
  body,
  html {
    font-size: 10px;
  }
}
@media (max-width: 576px) {
  body,
  html {
    font-size: 10px;
  }
  .container,
  .container-sm {
    padding: 0;
  }
}
/* 头部 */
.header,
.header .hd-fl,
.header .hd-nav ul,
.hd-fr {
  height: 150px;
}
.hd-fl .hd-fl-tit {
  font-size: 20px;
}
.hd-nav .hd-nav-li a {
  font-size: 20px;
  color: #040404;
}
.hd-nav .hd-nav-li a:hover {
  color: #3d41f0;
  font-weight: 900;
}
.hd-nav .hd-nav-li.active a {
  color: #3d41f0;
  font-weight: 900;
}
.hd-fr {
  color: #040404;
  font-size: 20px;
}
.header .hd-MobileMenu {
  display: none;
}
@media screen and (max-width: 1440px) {
  .header,
  .header .hd-fl,
  .header .hd-nav ul,
  .hd-fr {
    height: 100px;
  }
  .logo {
    max-width: 160px;
  }
  .hd-fl .hd-fl-tit,
  .hd-nav .hd-nav-li a,
  .hd-fr {
    font-size: 16px;
  }
  .icon_call {
    max-width: 30px;
  }
}
@media screen and (max-width: 1200px) {
  .header,
  .header .hd-fl,
  .header .hd-nav ul,
  .hd-fr {
    height: 80px;
  }
  .logo {
    max-width: 160px;
  }
  .hd-fl .hd-fl-tit,
  .hd-nav .hd-nav-li a,
  .hd-fr {
    font-size: 14px;
  }

  .icon_call {
    max-width: 24px;
  }
}
@media screen and (max-width: 992px) {
  .header,
  .header .hd-fl,
  .header .hd-nav ul,
  .hd-fr {
    height: 60px;
  }
  .logo {
    max-width: 100px;
  }
  .hd-fl .hd-fl-tit,
  .hd-nav .hd-nav-li a,
  .hd-fr {
    font-size: 12px;
  }
  .hd-nav ul{
    padding-left: 12px;
  }
  .hd-nav .hd-nav-li.active{
    background: #0F64FB;
  }
  .hd-nav .hd-nav-li.active a{
    color: #fff;
  }
  .icon_call {
    max-width: 20px;
  }
  .hd-fl .hd-fl-tit {
    position: relative;
    transform: scale(0.8);
  }
}
@media screen and (max-width: 768px) {
  .header {
    position: relative;
  }
  .container {
    padding: 0 10px;
  }
  .hd-nav {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    display: none;
    background: #fff;
    z-index: 9999;
  }
  .hd-nav ul {
    flex-wrap: wrap;
    height: auto !important;
  }
  .hd-nav .hd-nav-li {
    width: 100%;
    line-height: 40px;
  }
  .hd-nav .hd-nav-li a {
    display: block;
    padding-left: 30px;
  }
  .header .hd-MobileMenu {
    display: block;
    position: absolute;
    right: 10px;
    top: 15px;
  }
  .header .hd-fr {
    margin-right: 45px;
  }
}

.hamburger {
  list-style: none; /* summary元素默认会有一个三角形箭头，可以使用这个行代码删除箭头 */
  cursor: pointer;
  width: 30px;
  height: 26px;
  position: relative;
}

.hamburger::-webkit-details-marker {
  display: none;
}

.hamburger-menu__line {
  display: block;
  width: 30px;
  height: 4px;
  background-color: #040404;
  transition: 0.5s;
  position: absolute;
}

.hamburger-menu__line:first-child {
  top: 0;
}

.hamburger-menu__line:nth-child(2) {
  top: calc(50% - 2px);
}

.hamburger-menu__line:last-child {
  bottom: 0;
}
/* 隐藏中间那条直线 */
.hamburger.hamburger-open .hamburger-menu__line:nth-child(2) {
  display: none;
}

/* 将上面那条直线移到中间，并旋转-45deg */
.hamburger.hamburger-open .hamburger-menu__line:first-child {
  top: calc(50% - 2px);
  transform: rotate(-45deg);
  transform-origin: center;
}

/* 将下面那条直线也移到中间，并旋转45deg */
.hamburger.hamburger-open .hamburger-menu__line:last-child {
  top: calc(50% - 2px);
  transform: rotate(45deg);
  transform-origin: center;
}
/* 背景颜色 */
.bg-tint {
  background: #ebecfd;
}
.bg-light {
  background: #f0f0f0;
}
.sense .sense-text {
  max-width: 170px;
  color: #000003;
  line-height: 2;
}

/* 底部 */
.footer {
  background: #010101;
  color: #fff;
  font-size: 18px;
}
.border-y {
  border-left: 1px solid #a1a1a3;
  border-right: 1px solid #a1a1a3;
}
.footer .ft-masonry .ft-masonry-item h3 {
  color: #fff;
  font-size: 16px;
}
.footer .ft-masonry .ft-masonry-item p a {
  font-size: 16px;
  color: #b3b3b3;
}
.footer .ft-qrcode {
  width: 80px;
  height: 80px;
  background: #fff;
}
.footer .ft-qrcode-tit {
  color: #b2b2b2;
  font-size: 14px;
}
.footer .ft-link {
  font-size: 16px;
  border-top: 1px solid #c9c9c9;
  border-bottom: 1px solid #c9c9c9;
}
.footer .ft-link h4 {
  margin-bottom: 0;
  font-size: 16px;
  color: #fff;
  line-height: 1.8;
}
.footer .ft-link a,
.footer .ft-link span {
  color: #7c7c7c;
}
.footer .ft-link span {
  display: inline-block;
  margin-bottom: 2px;
}
.footer .ft-copyright {
  font-size: 12px;
  color: #ffffff;
}
@media screen and (max-width: 1200px) {
  .footer .ft-masonry .ft-masonry-item h3 {
    font-size: 14px;
  }
  .footer .ft-masonry .ft-masonry-item p a {
    font-size: 14px;
  }
  .footer .ft-link {
    font-size: 14px;
  }
  .footer .ft-link h4 {
    font-size: 14px;
  }
  .footer .ft-qrcode-tit {
    font-size: 12px;
    font-size: 14px;
  }
  .footter-top-tit {
    font-size: 14px;
  }
  .footter-top-logo1 {
    width: 110px;
  }
  .footter-top-logo2 {
    width: 100px;
  }
}
@media screen and (max-width: 768px) {
  .footer .ft-masonry {
    margin-bottom: 10px;
    width: 100%;
    flex-wrap: wrap;
  }
  .footer .ft-masonry .ft-masonry-item {
    width: 100%;
  }
  .footer .ft-masonry .ft-masonry-item > div {
    display: flex;
  }
  .footer .ft-masonry .ft-masonry-item p {
    margin-right: 1rem;
  }
  .footer .ft-wx {
    width: 100%;
  }
  .footer .ft-link-content {
    flex-wrap: wrap;
  }
}
.section-tit h3 {
  /* font-size: 36px; */
}
.section-tit p {
  color: #747474;
}
.section-tit p a {
  color: #1d2088;
}
.border-left {
  border-left: 1px solid #a1a1a3;
}
.scene-wrap {
  max-width: 1060px;
  margin: 0 auto;
}

.scene .scene-item .scene-item-box {
  cursor: pointer;
  transition: 0.3s;
}
.scene .scene-item .scene-item-box:hover {
  background: #86aaf8;
  box-shadow: 0px 11px 24px 4px rgba(0, 0, 0, 0.34);
  border-radius: 10px 10px 10px 10px;
}
@media screen and (max-width: 992px) {
  .product_icon001 {
    width: 32px;
  }
  .sense_icon {
    width: 32px;
  }
}
@media screen and (max-width: 768px) {
  .scene-wrap img {
    width: 28px;
  }
  .scene-wrap h3 {
    font-size: 12px;
  }
}

.service .service-item:hover {
  box-shadow: 0px 11px 24px 4px rgba(0, 0, 0, 0.34);
  /* border-radius: 10px 10px 10px 10px; */
}
.service .service-item-cont {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.service .service-item-cont p {
  line-height: 2;
}
.policy .policyW-item {
  width: 450px;
  height: 650px;
  border-radius: 10px;
  overflow: hidden;
}
@media screen and (max-width: 1440px) {
  .policy .policyW-item {
    width: 30%;
    height: 500px;
  }
}
@media screen and (max-width: 992px) {
  .policy .policyW-item {
    width: 30%;
    height: 400px;
  }
}
.policy .policyW-item:hover {
  box-shadow: 0px 11px 24px 4px rgba(0, 0, 0, 0.34);

  border: none;
}
.policy .policyM-item {
  border-bottom: 1px dotted #808080;
}
.policy .policyM-item .policyM-item-img {
  min-width: 140px;
  width: 140px;
}
.commodity .commodity-cont {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
}
.commodity .commodity-pic {
  transition: 0.5s;
}
.commodity .commodity-pic:hover {
  transform: scale(1.1);
}
.commodity-warp{
  width: 75%;
}
@media screen and (max-width: 1600px) {
}
@media screen and (max-width: 1440px) {
}
@media screen and (max-width: 982px) {
  .commodity-warp{
    width: 100%;
    padding-left: 40px;
  }
  .commodity-icon{
    width: 22px;
  }
}
.banner .banner-tel {
  max-width: 450px;
  background: rgba(168, 234, 250, 0.36);
}
.banner .banner-tel input {
  height: 3.125rem;
}
.banner .banner-tel .btn {
  background: rgba(29, 32, 136, 1) !important;
  color: #fff;
  height: 3.125rem;
}
@media screen and (max-width: 982px) {
  .banner .banner-tel input {
    height:32px;
  }
  .banner .banner-tel .btn {
    height:32px;
  }
}