@media (min-width: 576px) {
  .container,
  .container-sm {
    max-width: 98%;
    padding: 0;
  }
}

@media (min-width: 768px) {
  .container,
  .container-sm,
  .container-md {
    max-width: 95%;
    padding: 0;
  }
}

@media (min-width: 992px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg {
    max-width: 95%;
    padding: 0;
  }
}

@media (min-width: 1200px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 1140px;
    padding: 0;
  }
}
@media (min-width: 1440px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 1320px;
  }
}
@media (min-width: 1600px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 1400px;
  }
}

@media (min-width: 1800px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 1700px;
  }
}
a {
  text-decoration: none !important;
}
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
html {
  font-size: 14px;
}
.text-blue {
  color: rgba(29, 81, 210, 1) !important;
}
/* 行高 */
.line-height-15 {
  line-height: 1.5;
}
.line-height-1 {
  line-height: 1;
}
.line-height-2 {
  line-height: 2;
}
.line-height-18 {
  line-height: 1.8;
}
.text-indent-2 {
  text-indent: 2em;
}
@media screen and (max-width: 1200px) {
  body,
  html {
    font-size: 12px;
  }
}
@media screen and (max-width: 768px) {
  body,
  html {
    font-size: 10px;
  }
}
@media (max-width: 576px) {
  body,
  html {
    font-size: 10px;
  }
  .container,
  .container-sm {
    padding: 0;
  }
}
/* 头部 */
.header,
.header .hd-fl,
.header .hd-nav ul,
.hd-fr {
  height: 116px;
}
.hd-nav .hd-nav-li a {
  font-size: 1.45rem;
  color: #040404;
}
.hd-nav .hd-nav-li a:hover {
  color: #3d41f0;
  font-weight: 900;
}
.hd-nav .hd-nav-li.active a {
  color: #3d41f0;
  font-weight: 900;
}
.hd-fr {
  color: #040404;
  font-size: 1.45rem;
}
.header .hd-MobileMenu {
  display: none;
}
.header-slot {
  width: 100%;
  height: 50px;
}
@media screen and (max-width: 1440px) {
  .header,
  .header .hd-fl,
  .header .hd-nav ul,
  .hd-fr {
    height: 100px;
  }
  .logo {
    max-width: 160px;
  }
  .icon_call {
    max-width: 30px;
  }
}
@media screen and (max-width: 1200px) {
  .header,
  .header .hd-fl,
  .header .hd-nav ul,
  .hd-fr {
    height: 80px;
  }
  .hd-nav .hd-nav-li a {
    font-size: 16px;
  }
  .logo {
    max-width: 160px;
  }

  .icon_call {
    max-width: 24px;
  }
}
@media screen and (max-width: 992px) {
  .header,
  .header .hd-fl,
  .header .hd-nav ul,
  .hd-fr {
    height: 50px;
  }
  .logo {
    max-width: 80px;
  }
  .hd-nav ul {
    padding-left: 12px;
  }
  .hd-nav .hd-nav-li.active {
    background: #0f64fb;
  }
  .hd-nav .hd-nav-li.active a {
    color: #fff;
  }
  .icon_call {
    max-width: 26px;
  }
}
@media screen and (max-width: 768px) {
  .header {
    margin-bottom: 50px;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 9999;
  }
  .hd-nav {
    padding: 60px 0 20px;
    display: block;
  }
  .icon_call {
    max-width: 21px;
  }
  .container {
    padding: 0 10px;
  }
  .hd-nav {
    position: fixed;
    top: 50px;
    left: 0;
    bottom: 0;
    width: 100%;
    display: none;
    background: #fff;
    z-index: 9999;
  }
  .hd-nav ul {
    flex-wrap: wrap;
    height: auto !important;
  }
  .hd-nav .hd-nav-li {
    width: 100%;
    line-height: 40px;
  }
  .hd-nav .hd-nav-li a {
    display: block;
    padding-left: 30px;
  }
  .header .hd-MobileMenu {
    display: block;
    position: absolute;
    right: 10px;
    top: 15px;
  }
  .header .hd-fr {
    margin-right: 45px;
  }
}

.hamburger {
  list-style: none; /* summary元素默认会有一个三角形箭头，可以使用这个行代码删除箭头 */
  cursor: pointer;
  width: 20px;
  height: 20px;
  position: relative;
  background: url(../images/list_icon.png) no-repeat center;
  background-size: 100% 100% !important;
}
.hamburger.hamburger-open {
  background: url(../images/cross.png) no-repeat center;
}
/* 背景颜色 */
.bg-tint {
  background: #ebecfd;
}
.bg-light {
  background: #f0f0f0;
}
.sense .sense-text {
  max-width: 180px;
  color: #000003;
  line-height: 1.5;
}

/* 底部 */
.footer {
  background: #010101;
  color: #fff;
  font-size: 18px;
}
.border-y {
  border-left: 1px solid #a1a1a3;
  border-right: 1px solid #a1a1a3;
}
.footer .ft-masonry .ft-masonry-item h3 {
  color: #fff;
  /* font-size: 16px; */
}
.footer .ft-masonry .ft-masonry-item p a {
  /* font-size: 16px; */
  color: #b3b3b3;
}
.footer .ft-qrcode {
  width: 80px;
  height: 80px;
  background: #fff;
}
.footer .ft-qrcode-tit {
  color: #b2b2b2;
  font-size: 14px;
}
.footer .ft-link {
  font-size: 16px;
  border-top: 1px solid #c9c9c9;
  border-bottom: 1px solid #c9c9c9;
}
.footer .ft-link h4 {
  margin-bottom: 0;
  font-size: 16px;
  color: #fff;
  line-height: 1.8;
}
.footer .ft-link a,
.footer .ft-link span {
  color: #7c7c7c;
}
.footer .ft-link span {
  display: inline-block;
  margin-bottom: 2px;
}
.footer .ft-copyright {
  font-size: 12px;
  color: #ffffff;
}
@media screen and (max-width: 1200px) {
  .footer .ft-masonry .ft-masonry-item h3 {
    font-size: 14px;
  }
  /* .footer .ft-masonry .ft-masonry-item p a {
    font-size: 14px;
  }
  .footer .ft-link {
    font-size: 14px;
  }
  .footer .ft-link h4 {
    font-size: 14px;
  }
  .footer .ft-qrcode-tit {
    font-size: 12px;
    font-size: 14px;
  }
  .footter-top-tit {
    font-size: 14px;
  } */
  .footter-top-logo1 {
    width: 110px;
  }
  .footter-top-logo2 {
    width: 100px;
  }
}
@media screen and (max-width: 768px) {
  .footer .ft-masonry {
    margin-bottom: 10px;
    width: 100%;
    flex-wrap: wrap;
  }
  .footer .ft-masonry .ft-masonry-item {
    width: 100%;
  }
  .footer .ft-masonry .ft-masonry-item > div {
    display: flex;
  }
  .footer .ft-masonry .ft-masonry-item p {
    margin-right: 1rem;
  }
  .footer .ft-wx {
    width: 100%;
  }
  .footer .ft-link-content {
    flex-wrap: wrap;
  }
}
.section-tit h3 {
  /* font-size: 36px; */
}
.section-tit p {
  color: #747474;
}
.section-tit p a {
  color: #1d2088;
}
.border-left {
  border-left: 1px solid #a1a1a3;
}
.scene-wrap {
  max-width: 1060px;
  margin: 0 auto;
}
.scene .scene-item {
  position: relative;
}
.scene .scene-item:first-child::after {
  display: none;
}
.scene .scene-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 80%;
  top: 10%;
  left: -10%;
  background: var(--bs-border-color);
}
@media screen and (max-width: 992px) {
  .scene .scene-item::after {
    display: none;
  }
}
.scene .scene-item .scene-item-box h3 {
  font-size: 18px;
  color: #000003;
  line-height: 1.5;
}
.scene .scene-item .scene-item-box p {
  color: #747474;
  line-height: 1.5;
}
.scene .scene-item .scene-item-box p a {
  color: #1d2088;
}
.scene .scene-item .scene-item-box {
  width: auto;
  cursor: pointer;
  transition: 0.3s;
}
.scene .scene-item.active .scene-item-box {
  background: #86aaf8;
  box-shadow: 0px 11px 24px 4px rgba(0, 0, 0, 0.34);
  border-radius: 10px 10px 10px 10px;
}
.scene .scene-item.active .scene-item-box h3 {
  color: #fff;
}
.scene .scene-item .scene-item-box:hover {
  background: #86aaf8;
  box-shadow: 0px 11px 24px 4px rgba(0, 0, 0, 0.34);
  border-radius: 10px 10px 10px 10px;
}
.scene .scene-item .scene-item-box:hover h3 {
  color: #fff;
}
@media screen and (max-width: 992px) {
  .product_icon001 {
    width: 32px;
  }
  .sense_icon {
    width: 32px;
  }
}

.service .service-item:hover {
  box-shadow: 0px 11px 24px 4px rgba(0, 0, 0, 0.34);
  /* border-radius: 10px 10px 10px 10px; */
}
.service .service-item-cont {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@media screen and (max-width: 768px) {
  .scene-wrap img {
    width: 28px;
  }
  .scene-wrap h3 {
    font-size: 12px;
  }
}
@media (min-width: 1200px) {
  .service .service-item-cont {
    padding: 20% !important;
  }
  .service .service-item-cont p {
    line-height: 2;
  }
}
@media (min-width: 992px) {
  .service .service-item-cont {
    padding: 15% !important;
  }
}
@media (min-width: 768px) {
  .service .service-item-cont {
    padding: 10% !important;
  }
  .serviceWeb .service-item-two {
    margin: 0 5%;
  }
  .serviceWeb .service-item-cont a {
    color: #fff;
  }

  .serviceWeb .service-item {
    border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    border-radius: 5px;
  }
  .service .service-item-cont p {
    line-height: 2;
  }
}

@media screen and (max-width: 768px) {
  .serviceWeb .service-item {
    width: 100%;
  }
  .service .service-box {
    flex-wrap: wrap;
  }
  .serviceWeb .service-item-two {
    margin: 0;
  }
  .serviceWeb .service-item-cont a {
    color: #000;
  }
  .service .service-item-cont {
    display: flex;
    align-items: center;
  }
  .service .service-item-cont p {
    line-height: 1.6;
  }
}
.policy .policyW-item {
  width: 450px;
  height: 650px;
  border-radius: 10px;
  overflow: hidden;
}
.policy .policyW-item.policyW-item-two {
  margin: 0 5%;
}
@media screen and (max-width: 1440px) {
  .policy .policyW-item {
    width: 30%;
    height: 500px;
  }
}
@media screen and (max-width: 992px) {
  .policy .policyW-item {
    width: 30%;
    height: 400px;
  }
}
.policy .policyW-item:hover {
  box-shadow: 0px 11px 24px 4px rgba(0, 0, 0, 0.34);

  border: none;
}
.policy .policyM-item {
  border-bottom: 1px dotted #808080;
}
.policy .policyM-item .policyM-item-img {
  min-width: 140px;
  width: 140px;
}
.commodity .commodity-cont {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
}
.commodity .commodity-pic {
  transition: 0.5s;
}
.commodity .commodity-pic:hover {
  transform: scale(1.1);
}
.commodity-warp {
  width: 75%;
}
@media screen and (max-width: 1600px) {
}
@media screen and (max-width: 1440px) {
}
@media screen and (max-width: 982px) {
  .commodity-warp {
    width: 100%;
    padding-left: 40px;
  }
  /* .commodity-icon {
    width: 22px;
  } */
}
@media screen and (max-width: 768px) {
  .commodity-icon {
    width: 28px;
  }
}
.banner .banner-tel {
  max-width: 450px;
  background: rgba(168, 234, 250, 0.36);
}
.banner .banner-tel input {
  height: 3.125rem;
}
.banner .banner-tel .btn {
  background: rgba(29, 32, 136, 1) !important;
  color: #fff;
  height: 3.125rem;
}
@media screen and (max-width: 982px) {
  .banner .banner-tel input {
    height: 32px;
  }
  .banner .banner-tel .btn {
    height: 32px;
  }
}
/* 产品介绍 */
.productHighlightsPic {
  width: 290px;
}
.AnicertLogo {
  width: 110px;
}
.tiantianLogo {
  width: 100px;
}
.brief-box .brief-fl .brief-fl-fl {
  border-bottom: 1px dashed rgba(210, 210, 210, 1);
}
.brief-box .brief-fl .brief-fl-b-fl {
  border-right: 1px dashed rgba(210, 210, 210, 1);
}
@media screen and (max-width: 1440px) {
  .productHighlightsPic {
    width: 240px;
  }
  .AnicertLogo {
    width: 90px;
  }
  .tiantianLogo {
    width: 80px;
  }
}

@media screen and (max-width: 768px) {
  .brief-box {
    flex-wrap: wrap;
  }
  .brief-box .brief-fl {
    width: 100%;
  }
  .brief-box .brief-fl .brief-fl-fl {
    border-bottom: 1px solid rgba(210, 210, 210, 1);
  }
  .brief-box .brief-fl .brief-fl-b-fl {
    border-right: none !important;
    border-bottom: 1px solid rgba(210, 210, 210, 1);
  }
  .productHighlightsPic {
    width: 240px;
  }
  .AnicertLogo {
    width: 80px;
  }
  .tiantianLogo {
    width: 80px;
  }
}
.policy {
  background: rgba(0, 85, 230, 0.18);
}
.policy-fl-w {
  width: 280px;
}
.policy-hg {
  padding-left: 15%;
}
@media screen and (max-width: 1440px) {
  .policy-fl-w {
    width: 240px;
  }
}
@media screen and (max-width: 992px) {
  .policy-hg {
    padding-left: 7%;
  }
}

@media screen and (max-width: 768px) {
  .policy {
    background: #fff;
  }
  .policy-item {
    flex-wrap: wrap;
  }
  .policy-text {
    border: 1px solid rgba(210, 210, 210, 1);
  }
  .policy-fl-w {
    width: 100%;
    background: rgba(209, 224, 250, 1) !important;
  }
  .policy-fl-w img {
    width: 28px;
  }
  .policy-fl-w > div {
    justify-content: flex-start !important;
  }
  .policy-hg {
    padding: 0 12px;
  }
  .policy-hg img {
    width: 20px;
  }
  .policy-text h3 {
    text-align: left !important;
  }
}
.empower-step-item {
  width: 120px;
  position: relative;
  padding: 0 5px;
}
.empower-step-item .empower-step-item-text {
  position: absolute;
  /* width: 200px; */
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 0;
}
.empower-step-item-line {
  width: 90px;
  height: 95px;
  display: flex;
  align-items: center;
  background: url(../images/arrow_icon_fr.png) no-repeat center;
}
.empower-step-item-line .empower-step-item-line-l {
  width: 100%;
  height: 1px;
  background: rgba(38, 129, 255, 1);
}
@media screen and (max-width: 1440px) {
  .empower-step-item {
    width: 100px;
  }
  .empower-step-item-line {
    height: 90px;
    background-size: 20px;
  }
}
@media screen and (max-width: 1200px) {
  .empower-step-item {
    width: 90px;
  }
  .empower-step-item-line {
    height: 80px;
    background-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  .empower-step-list {
    flex-wrap: wrap;
  }
  .empower-step-item-line4 {
    display: none;
  }
  /* .empower-step-list ..empower-step-list */
  .empower-step-item-img {
    margin: 0 auto;
    width: 36px;
  }
  .process_QR {
    width: 160px;
  }
}
.bg-blue-18 {
  background: rgba(0, 85, 230, 0.18) !important;
}
.bg-white-65 {
  background: rgba(255, 255, 255, 0.65) !important;
}

/* .case_intr_icon{
  width:60px;
} */
@media (min-width: 768px) {
  .w-md-50 {
    width: 50% !important;
  }
}
.btn-bg-primary {
  background: rgba(29, 32, 136, 1) !important;
}
.compliance-fl {
  width: 460px;
}
.compliance-cont {
  width: 900px;
}
.compliance-line {
  width: 200px;
  padding: 50px 0;
}
.compliance-line span {
  display: block;
  width: 1px;
  height: 100%;
  margin: 0 auto;
}

.compliance-c-item:hover h3 {
  color: rgba(38, 129, 255, 1) !important;
}
.compliance-c-item:hover p {
  color: rgba(38, 129, 255, 1) !important;
}
/* @media screen and (min-width: 1440px) {
  .compliance-fl {
    flex-shrink: 0 !important;
  }
  
} */
/* @media screen and (max-width: 1200px) {
  .compliance-box {
    flex-wrap: wrap;
  }
} */
@media screen and (max-width: 768px) {
  .compliance-box {
    flex-wrap: wrap;
  }
  .compliance-fl {
    width: 100%;
  }
  .compliance-line {
    display: none;
  }
  .compliance_icon {
    width: 40px;
  }
  .compliance-cont{
    width: 100%;
  }
}
.pagination .page-item .page-link {
  background: rgba(191, 191, 191, 1);
  color: rgba(0, 0, 0, 1);
}
.pagination .page-item.active .page-link {
  background: rgba(38, 129, 255, 1);
  color: #fff;
}
.pagination .page-item .page-link:hover {
  background: rgba(38, 129, 255, 1);
  color: #fff;
}
.complianceList-item .complianceList-item-cont:hover h3 {
  color: rgba(38, 129, 255, 1) !important;
}
.complianceList-item .complianceList-item-cont:hover p {
  color: rgba(38, 129, 255, 1) !important;
}
@media screen and (max-width: 768px) {
  .complianceList-item {
    border-top: 0 !important ;
    border-left: 0 !important ;
    border-right: 0 !important ;
  }
  .complianceList-item-img {
    width: 100px;
  }
  .complianceList-item .complianceList-item-cont {
    width: 100%;
    overflow: hidden;
  }
  .complianceList .complianceList-item-wrap h3 {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
.complianceDetails-cont {
  padding-right: 12%;
}
.recommend {
  padding-left: 6%;
}
.recommend .recommend-wrap {
  width: 440px;
  min-height: 580px;
}
.text-16 {
  font-size: 1.125rem;
}
.recommend .recommend-wrap .recommend-item:hover a {
  color: rgba(38, 129, 255, 1) !important;
}

@media screen and (max-width: 1440px) {
  .recommend .recommend-wrap {
    width: 340px;
  }
}
@media screen and (max-width: 1200px) {
  .recommend .recommend-wrap {
    width: 240px;
  }
}

@media screen and (max-width: 768px) {
  .complianceDetails {
    flex-wrap: wrap;
  }
  .complianceDetails-cont {
    padding: 0;
    width: 100%;
  }
  .recommend,
  .recommend .recommend-wrap {
    width: 100%;
    padding: 0;
    border: none;
    min-height: 0;
    border: none !important;
  }
}
/* 关于我们 */
.company-cont {
  width: 830px;
}
@media screen and (max-width: 768px) {
  .company-wrap {
    flex-wrap: wrap;
  }
  .company-cont {
    width: 100%;
  }
}
/* 申请试用 */
.pop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99999;
}
.pop .pop-wrap {
  position: absolute;
  width: 800px;
  min-height: 540px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url(../images/form_bg.png) no-repeat;
  background-size: 100% 100%;
  padding: 0 40px;
}
.pop .pop-close {
  position: absolute;
  width: 50px;
  height: 50px;
  right: 0;
  top: 0;
  cursor: pointer;
}
.trial-form .trial-item {
  position: relative;
  display: flex;
}
.trial-form .trial-item .trial-item-icon {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 56px;
  height: 56px;
  justify-content: center;
  align-items: center;
  z-index: 99;
}
.trial-form .trial-item {
  max-width: 500px;
  margin: 0 auto;
}
.trial-form .trial-item .form-control {
  height: 56px;
  padding-left: 56px;
  font-size: 1.25rem;
}
.trial-btn {
  border: none !important;
  background: linear-gradient(
    to bottom,
    rgba(1, 94, 234, 1),
    rgba(0, 192, 250, 1)
  );
}
.pop .btn {
  height: 56px;
  font-size: 1.25rem;
}
.w-btn {
  width: 195px;
}
@media screen and (max-width: 768px) {
  .pop .pop-wrap {
    width: 95%;
    min-height: 360px;
  }
  .pop .pop-close {
    width: 35px;
    height: 35px;
  }
  .trial-form .trial-item {
    width: 100%;
  }
  .trial-form .trial-item .form-control {
    height: 36px;
    padding-left: 36px;
  }
  .trial-form .trial-item .trial-item-icon {
    width: 36px;
    height: 36px;
  }
  .trial-form .trial-item .trial-item-icon img {
    width: 16px;
  }
  .save_icon,
  .error_icon {
    width: 100px;
  }
  .pop .btn {
    height: 36px;
  }
  .w-btn {
    width: 130px;
  }
}
/*h1 2.5  35 
  h2 2    28 
  h3 1.75 24.5 
  h4 1.5  21 
  h5 1.25 17.5 
  h6 1    14
*/
.font-40 {
  font-size: 2.85rem !important;
}
.font-36 {
  font-size: 2.6rem !important;
}
.font-32 {
  font-size: 2.3rem !important;
}
.font-30 {
  font-size: 2.15rem !important;
}
.font-28 {
  font-size: 2rem !important;
}
.font-24 {
  font-size: 1.7rem !important;
}
.font-20 {
  font-size: 1.4rem !important;
}
.font-18 {
  font-size: 1.25rem !important;
}
.font-16 {
  font-size: 1.15rem !important;
}
@media screen and (max-width: 768px) {
  .font-40 {
    font-size: 26px !important;
  }
  .font-36 {
    font-size: 19px !important;
  }
  .font-32 {
    font-size: 18px !important;
  }
  .font-30 {
    font-size: 17px !important;
  }
  .font-28 {
    font-size: 16px !important;
  }
  .font-24 {
    font-size: 15px !important;
  }
  .font-20 {
    font-size: 14px !important;
  }
  .font-18 {
    font-size: 13px !important;
  }
  .font-16 {
    font-size: 12px !important;
  }
}

.line-show-3 {
  display: -webkit-box; /* 使用旧版WebKit语法 */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3; /* 限制显示的行数 */
  /* 支持新版标准的浏览器，可以使用以下属性 */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
@media (min-width: 1440px) {
  .border-xxl-end {
    border-right: var(--bs-border-width) var(--bs-border-style)
      var(--bs-border-color) !important;
  }
  .mb-xxl-6 {
    margin-bottom: 6rem;
  }
}
@media (min-width: 768px) {
  .mb-md-6 {
    margin-bottom: 6rem;
  }
  .border-md-end {
    border-right: var(--bs-border-width) var(--bs-border-style)
      var(--bs-border-color) !important;
  }
  .border-md {
    border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
  }
  .border-md-0 {
    border: none !important;
  }
  .text-indent-md-2 {
    text-indent: 2rem;
  }
  .border-md-bottom-0 {
    border-bottom: none !important;
  }
}
@media (min-width: 992px) {
  .border-lg-end {
    border-right: var(--bs-border-width) var(--bs-border-style)
      var(--bs-border-color) !important;
  }
}
.bg-deep {
  background: rgba(134, 170, 248, 1) !important;
}
.form-validate label.error {
  display: block;
  width: 100%;
  font-size: 1rem;
  position: absolute;
  left: 0;
  top: 100%;
  padding: 0 1rem;
  color: #ff0022;
}
@media screen and (max-width: 768px) {
  .text-md-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
.hover-primary:hover p, .hover-primary:hover h3{
  color: rgba(38, 129, 255, 1) !important;

}